body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: larger;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item {
  height: 400px;
  width: 250px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.kid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.display {
  border-bottom: 2px solid black;
  text-align: right;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
